@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pagination-item-active {
  background-color: #ca8a04 !important;
  color: white !important;
  border: none !important;
}

/* CSS khi hover vào trang hiện tại */
.ant-pagination-item-active:hover {
  background-color: #ca8a04 !important;
  color: white !important;
}
.ant-pagination-item-active a {
  color: white !important; /* Thay đổi màu chữ thành trắng */
}
